/* Mobile friendly */
@media screen and (max-width: 768px) {
    
    /* Set the header to display column */
    header {
        height: auto;
        flex-direction: column;
        padding-bottom: 2%;
    }
    
    /* Center align the name and photo in the header */
    .avatar {
        display: block;
        text-align: center;
        margin-bottom: 1%;
    }

    /* Remove unnecessary margins from the avatar */
    .avatar img {
        margin-left: 0%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    /* Remove unnecesssary margins from my name */
    .avatar h1 {
        margin-left: 0%;
    }
    
    /* Display categories in column */
    .category {
        flex-direction: column;
    }
    
    /* Move the header border to the bottom */
    .category h2 {
        border-right: 0px;
        border-bottom: 5px solid #1f5a73;
    }
    
    /* Resize the margins for the category details to better fit the screen */
    .details {
        margin-left: 0%;
        padding-bottom: 3%;
        width: 90%;
    }
    }