/* Default font family */
* {
    font-family: 'Helvetica', sans-serif;
}

html, body {
    height: 100%;
}


/* Style the dividing hexagons */
body {
    background-image: url("../images/hexagons3.jpg");
    background-size: cover;
    background-position: center;

}

/* Defining the header bar size and display */
#header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--secondaryColor);
}

/* Aligning for the photo and my name */
.avatar {
    display: flex;
    align-items: center;
    margin: 1%;
    width: 25%;
}

/* Header photo settings */
.avatar img {
    height: 95px;
    margin-left: 2px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
}

/* Header name text settings */
.avatar h1 {
    font-size: 300%;
    margin-left: 1%;
    width: auto;
}

/* Space the header links */
#header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 65%;
}

main {
    background-color: aliceblue;
}

/* Sizing the 'category' containers */
.category {
    height: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}

#tabs {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tab {
    width: 34%;
    height: 100%;
    background-color: aliceblue;
    border: none;
    text-decoration: none;
    color: var(--textMain);
    font-size: x-large;
    filter: brightness(0.95);
}

/* Make the active tab brighter */
.active-tab {
    filter: brightness(1);
}

/* Hide inactive tabs */
.hide  {
    display: none;
}

/* 'About me' text spacing */
section p {
    margin: 2%;
}

/* Create a work link block, space it, and set a position for the ::after */
.block {
    position: relative;
    height: 350px;
    width: 45%;
    margin: 10px 10px;
    background-color: var(--mainColor);
    box-shadow: 10px 10px 4px 0px grey;
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-radius: 3%;
}

/* Work link name */
.block-details {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: inherit;
    color: var(--secondaryColor);
}

/* Scale the titles of the works */
h3 {
    font-size: xx-large;
}

.block-details a {
    text-decoration: none;
    color: var(--secondaryColor);
}

.block-link {
    width: 100%;
    min-height: 70%;
    margin-bottom: 2%;
}

/* Formats the img of the work link to fit */
.block-link img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3%;
    filter: brightness(0.9);
}

/* Make the top block double wide */
#big-block {
    width: 92%;
    border-radius: 15px;
}

#big-block .block-link img{
    border-radius: 15px;
}

/* Format the resume links */
#resume {
    justify-content: space-around;
    align-items: center;
}

#resume a {
    text-decoration: none;
    background-color: var(--mainColor);
    color: var(--secondaryColor);
    font-size: x-large;
    padding: 2%;
    border-radius: 10px;
}