/* Default font family */
* {
    font-family: 'Helvetica', sans-serif;
}

/* Defining the header bar size and display */
header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    background-color: #1d6685;
}

/* Aligning for the photo and my name */
.avatar {
    display: flex;
    align-items: center;
}

/* Header photo settings */
.avatar img {
    height: 95px;
    margin-left: 2px;
    border-radius: 10px;
}

/* Header name text settings */
.avatar h1 {
    font-size: 300%;
    margin-left: 1%;
    width: auto;
}

/* Aligning navigation links */
nav {
    margin-right: 3%;
    width: auto;
}

/* Display list items side by side */
ul li{
    display: inline-block;
    margin: 0px 20px;
}

/* Sizing and spacing the text of the navigation links */
nav a:link{
    color: whitesmoke;
    font-size: 200%;
    padding: 3px;
    text-decoration: none;
}

/* Underline the text when hovering over nav links */
nav a:link:hover{
    text-decoration: underline;
}

/* When you click a link, shrink it slightly */
nav a:link:active{
    font-size: 195%;
}

/* After a link is clicked, don't change the color */
nav a:visited {
    color: whitesmoke;
}

/* Sizing the 'category' containers */
.category {
    background-color: aliceblue;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

/* Creating the category header containers and formatting the text */
h2 {
    color: #1f5a73;
    text-align: center;
    font-size: 250%;
    width: 25%;
    border-right: 5px solid #1f5a73;
    padding: 2% 5% 2% 3%;
    margin: 2% 0;
}

/* Make the 'Work' category white */
#work {
    background-color: white;
    height: auto;
}

/* 'About me' text spacing */
section p {
    margin-left: 4%;
    width: 70%;
}

/* Spacing for the contact list */
section ul {
    margin-left: 3%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Work block links wrap */
.work-blocks {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

/* Create a work link block, space it, and set a position for the ::after */
#work a {
    height: 200px;
    width: 200px;
    margin: 10px;
    background-image: url("../assets/images/shingles.jpg");
    outline: 4px solid #1d6685;
    position: relative;
}

/* Create a text box over the link block */
#work a::after {
    content: attr(data-desc);
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    width: inherit;
    background-color: #1d6685;
    position: absolute;
    bottom: 10px;
}